body{
    background:black;
}

h5{
    color:red;
    text-align:center;
}

icons{
    color:red;
}

p{
    text-align:center;
    font-size:30px;
    color:#ff0000;
}


h2{
    text-align:center;
    color:lime;
}

h3{
    color:#00ff00;
    text-align:center;
    font-size:30px;
}

label{
    text-align:center;
}
h1{
    color:cyan;
    text-align:center;
}



div{
    color:cyan;
    text-align:center;
    font-size:50%;
}
